[mysqld]
sql-mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
general-log=0
general-log-file=/var/log/mysql/general-log.log
slow_query_log=1
slow_query_log_file=/var/log/mysql/mysql_slow.log
long_query_time=1